<section class="section">
  <div class="columns is-centered is-mobile mt-5">
    <form class="box is-medium m-6 p-6"
      focusInvalidInput
      #userFormData="ngForm"
      (ngSubmit)="onSubmit(userFormData.value)">
      <!-- Title -->
      <h1 class="subtitle is-2 has-text-centered">
        Sign Up
      </h1>

      <!-- Username field -->
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input"
            name="username"
            type="text"
            placeholder="usernameExample69"
            ngModel required>
        </div>
      </div>

      <!-- Email field -->
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input"
            name="email"
            type="email"
            placeholder="exampleEmail@mail.com"
            ngModel required>
        </div>
      </div>

      <!-- Passphrase field -->
      <div class="field">
        <label class="label">Passphrase</label>
        <div class="control">
        <input class="input"
          name="passPhrase"
          type="password"
          ngModel required>
        </div>
      </div>

        <!-- Login service buttons -->
        <!-- Sign Up button -->
        <div class="columns is-left">
          <div class="buttons">
            <button
              class="button is-link is-success m-5"
              type="submit">
                Submit
            </button>

            <!-- Sign In redirect -->
            <a routerLink="/login/signIn"
              class="content is-italic">
              <sub>Already a user?</sub>
            </a>
          </div>
        </div>

    </form>
  </div>
</section>
<router-outlet></router-outlet>
