<div class="container">
  <div class="columns is-centered is-mobile">
    <section class="section mt-6 is-medium">
      <!-- Title -->
      <h1 class="subtitle is-2 has-text-centered">
        Login Demo
      </h1>
      <!-- Hello message -->
      <div class="columns is-centered is-align-content">
        <div class="block has-text-centered m-5">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <!-- Login service buttons -->
      <div class="columns is-centered">
        <div class="buttons">
          <a routerLink="/login/signUp" class="button is-rounded is-medium is-success is-link m-3">Sign Up</a>
          <a routerLink="/login/signIn" class="button is-rounded is-medium is-info is-link m-3">Sign In</a>
        </div>
      </div>
    </section>
  </div>
</div>
<router-outlet></router-outlet>
